@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap');

:root {
  --choco-light: #f6f2ea;
  --choco-medium: #3F77B9;
  --choco-dark: #322f1b;
  --black: rgb(20, 20, 20);
  --primary: #3F77B9;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  /* --box-shadow: 0 8px 22px rgba(0,0,0,0.1); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* globals */
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: black;
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--choco-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--choco-medium);
  border-radius: 6px;
}

mark {
  color: var(--choco-medium);
  background: none;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.875rem;
}

h2 {
  font-size: 1.5rem;
}

.logo {
  color: #3F77B9;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

header span {
  color: #3F77B9;
}

.container {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.containerArticle {
  padding-top: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.skip-to-content {
  position: fixed;
  z-index: 10;
  padding: 10px 16px;
  transform: translateY(-45px);
  border-radius: 4px;
  color: var(--choco-dark);
  background-color: var(--choco-medium);
  font-weight: 700;
  transition: 350ms;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* header */
.header {
  position: fixed;
  background-color: white;
  z-index: 9;
  width: 100%;
  transition: 350ms;
}

.header--active {
  background-color: white;
}

.header--active .nav__link--active {
  color: var(--choco-medium);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1400px;
}

.header__brand {
  padding: 14px 14px;
}

.header__logo {
  height: 40px;
}


/* nav */
.nav {
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  margin: 24px;
  background-color: white;
  border-radius: 6px;
  transform: translateY(-100vh);
  transition: 350ms;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.nav--active {
  transform: translateY(0);
  z-index: -1;
}

.nav__list {
  display: block;
  list-style: none;
  padding: 0;
}

.nav__link {
  display: inline-block;
  color: black;
  padding: 12px 32px;
  margin: 6px 0;
  width: 100%;
  text-align: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--active {
  font-weight: 700;
  color: var(--choco-medium);
}

.nav__toggle {
  width: 44px;
  height: 44px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.nav__toggle.nav__toggle--active>span:first-child {
  transform: rotate(-45deg) translatey(6.5px) translateX(-6px) rotate(360deg);
}

.nav__toggle.nav__toggle--active>span:nth-child(2) {
  transform: scale(0);
}

.nav__toggle.nav__toggle--active>span:last-child {
  transform: rotate(45deg) translatey(-6.5px) translateX(-6px) rotate(360deg);
}

.nav__toggle>span {
  display: block;
  background-color: var(--primary);
  height: 3px;
  margin: 3px 0;
  transition: 350ms;
}

.register {
  background-color: #3F77B9;
  border-radius: 6px;
  color: white;
}

.register:hover {
  color: #ffffff !important;
  font-weight: bold;
  text-decoration: none;
}

.list {
  padding: 100px 0;
}

/*detail article*/

ul.breadcrumb {
  padding: 10px 16px;
  margin-left: 30px;
  margin-top: 40px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.pos-header {
  width: 100%;
  height: 500px;
  background: #ffffff;
}

.pos-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;
  padding-bottom: 50px;
}

.header-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  width: 100%;
  padding-bottom: 0px;
  
}

.back-home {
  color: #3F77B9;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 550;
}

.header-title {
  width: 100%;
  font-size: 2.6rem;
  color: #24262b;
  align-items: center;
  margin-bottom: 1rem;
}

.pos-content {
  max-width: 1000px;
  padding: 20px;
  margin-top: 5rem !important;
}

.sub-heading {
  font-size: 1.2rem;
}

.pos-text {
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 2rem 0;
  text-align: justify;
  margin-top: 80px;
  padding-top: 50px;
}

.favorite {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #3F77B9;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*blog*/
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem !important;
}

.filter-item {
  font-size: 0.9rem;
  font-weight: 520;
  cursor: pointer;
}

.active-filter {
  background: var(--choco-medium);
  font-weight: bold;
  color: var(--choco-light);
  padding: 4px 10px;
  border-radius: 4px;
}

.daftar-article .article-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #3F77B9;
  display: inline-block;
}

/* 
.daftar-article p {
  font-size: 18px;
  font-weight: 600;
} */

/* Posts */
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box {
  background-color: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category {
  font-size: 0.9rem;
  font-weight: 1000;
  text-transform: uppercase;
  color: black;
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  /* To remain title in 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.searchartikel{
  padding-left: 150px;
  align-items: center;
}
.post-date {
  display: flex;
  color: #3F77B9;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}

.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  /* To remain title in 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination {
  padding-top: 20px;
}

.pagination ul {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
  color: #3F77B9;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
  font-size: 18px;
  cursor: default;
}

.pagination ul li.btn {
  padding: 0 20px;
  border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: #fff;
  background: #3F77B9;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.category img {
  margin: 0 auto;
  width: 100%;
}

.category-title {
  margin: 0;
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 32px;
  border-radius: 100px;
  flex: none;
}

.faicon {
  color: #ffffff;
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.service::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--primary);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}


.service:hover .iconbox {
  background-color: var(--white);
  color: var(--primary);
}

.service:hover h5,
.service:hover p {
  color: var(--white);
  ;
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

.col-img {
  background-image: url("../img/Kosultasi-Parenting.jpg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}

.project img {
  transition: all 0.4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.1);
}


.pricing i {
  font-size: 20px;
  color: var(--primary);
}

.pricing ul li {
  margin-top: 8px;
}

.team-member img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}


.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border-radius: 2px solid var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
  border: 2px solid var(--primary);
}

.social-icons a:hover {
  color: var(--primary);
  background-color: transparent;
  border-color: var(--primarys);
}


.hero {
  background-image: url("../img/hero.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

.btn-primary {
  background-color: #3F77B9 !important;
}

.btn-primary:hover {
  background-color: #4c91e1 !important;
}

.categories {
  width: 100%;
}

.categories .wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding: 50px 0
}

.categories .wrapper .categories-container {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  ;
  justify-content: center;
  align-items: center;
}

.categories .wrapper .categories-container .category {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  transition: .5s ease-out
}

.categories .wrapper .categories-container .category:hover {
  cursor: pointer;
}

.categories .wrapper .categories-container .category:hover img {
  transform: scale(1.2);
  transition: .5s ease-in;
}

.categories .wrapper .categories-container .category::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33333357;
  position: absolute;
  z-index: 1;
}

.categories .wrapper .categories-container .category img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.categories .wrapper .categories-container .category .category-body {
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.categories .wrapper .categories-container .category .category-body h4 {
  font-size: 18px;
}

.categories .wrapper .categories-container .category .category-body span {
  font-size: .8rem
}


.menuju-blog {
  text-decoration: none;
  color: #ffffff;
}

.menuju-blog:hover {
  color: #ffffff;
}

.footer {
  background-color: #022452;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.row-footer ul {
  list-style: none;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.container-footer {
  max-width: 1170px;
  margin: auto;
}

@media screen and (min-width: 950px) {
  .nav__toggle {
    display: none;
  }

  .nav {
    transform: none;
    position: unset;
    margin: 24px;
    background: none;
    border: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__link {
    margin: 0 0 0 26px;
    padding: 12px;
  }
}


@media screen and (max-width: 650px) {
  .searchartikel {
    padding-left: 2.3rem;
  }
  .about-text {
    margin: 0 auto;
    max-width: 650px;
  }
}

@media screen and (max-width: 800px) {
  .box {
    display: grid;
    grid-row-gap: 16px
  }
}

@media screen and (min-width: 700px) {
  .hero__title {
    font-size: 6vw;
  }

  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .list {
    padding: 100px 0;
  }

  .footer {
    padding: 32px 16px;
  }
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}