* {
    padding: 0;
    margin: 0;
    font-family: "inter", "montserrat";
    box-sizing: border-box;
    color: #18181b;
}

body {
    background-color: #fafafa;
}

h1 {
    font-family: "montserrat";
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-family: "montserrat";
    font-size: 1.5rem;
    font-weight: 600;
}

.wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
}

/* left section */

.left {
    display: flex;
    justify-content: center;
    align-self: center;
    background: linear-gradient(270deg, #3F77B9 49.92%, rgba(157, 214, 255, 0.25) 100%);
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.left img {
    width: 100%;
}

.icon_back {
    position: absolute;
    left: 40px;
    top: 40px;
    cursor: pointer;
}

.content_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    padding: 180px 0;
}

.text_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

/* right section */

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

.content_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    padding: 40px 0;
}

.content_right img {
    width: 250px;
}

.alternative_login img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.text_masuk {
    align-self: flex-start;
    margin-top: 8px;
}

.text_masuk p {
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    color: #52525b;
    margin-left: 30px;
}

/* form section */

form {
    align-self: flex-start;
    margin-top: 16px;
}

form label {
    display: block;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.email {
    margin-bottom: 16px;
}

.input_email {
    position: relative;
    width: 400px;
    height: 45px;
}

.input_email input {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 24px 0 48px;
    background: #F8FAFC;
    border: 1px solid #3F77B9;
    border-radius: 10px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    color: #18181b;
}

.input_email input:focus {
    border: 2px solid #3F77B9;
}

.input_email input::placeholder {
    color: #a1a1aa;
}

.input_email i {
    position: absolute;
    top: 50%;
    padding-left: 13px;
    transform: translateY(-50%);
}

.password {
    margin-bottom: 8px;
}

.input_password {
    position: relative;
    width: 400px;
    height: 45px;
}

.input_password input {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 48px 0 48px;
    background: #F8FAFC;
    border: 1px solid #3F77B9;
    border-radius: 10px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
}

.input_password input:focus {
    border: 2px solid #3F77B9;
}

.input_password input::placeholder {
    color: #a1a1aa;
}

.input_password .bx-lock-alt {
    position: absolute;
    top: 50%;
    padding-left: 13px;
    transform: translateY(-50%);
}

.input_password .eye-off {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(image/eye\ off.png);
    background-position: cover;
    top: 50%;
    right: 0;
    margin-right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input_password .eye-on {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../Image/eye\ on.png);
    background-position: cover;
    top: 50%;
    right: 0;
    margin-right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
}

form i {
    color: #3F77B9;
}

.addition {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* Costum checkbox_box */
.remember {
    display: flex;
    align-items: center;
}

.remember label {
    cursor: pointer;
    display: flex;
    gap: 8px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    color: #3F77B9;
    cursor: pointer;
}

.remember input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
}

.remember label::before {
    content: "";
    width: 10px;
    height: 10px;
    /* border: 2px solid #3F77B9; */
    border-radius: 3px;
    transform: translateY(15%);
}

/* .remember .checkbox_box {
	width: 12px;
	height: 12px;
	border: 2px solid #3F77B9;
	border-radius: 2px;
	transform: translateY(-35%);
} */
/* --------------------------------- */

.addition a {
    text-decoration: none;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    color: #3F77B9;
}

/* long button */

.button_masuk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 400px;
    height: 48px;
    background: #3F77B9;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #f8fafc;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.button_masuk:hover {
    background: #4c91e1;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
}

/* --------------------------------- */

.or {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.or span {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #a1a1aa;
}

.or::before {
    content: "";
    width: 110px;
    height: 0px;
    background-color: #a1a1aa;
    border: 2px solid #a1a1aa;
    border-radius: 2px;
}

.or::after {
    content: "";
    width: 110px;
    height: 0px;
    background-color: #a1a1aa;
    border: 2px solid #a1a1aa;
    border-radius: 2px;
}

.alternative_login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-top: 16px;
}

.link_daftar {
    margin-top: 24px;
}

.link_daftar p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: #18181b;
}

.link_daftar span a {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    color: #0a9396;
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .left {
        display: none;
    }

    .right {
        justify-content: center;
        margin: 0 auto;
    }

    .content_right {
        padding: 20px;
    }
}