:root {
  --choco-light: #f6f2ea;
  --choco-medium: #3F77B9;
  --choco-dark: #322f1b;
  --black: rgb(20, 20, 20);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* globals */
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: black;
  position: relative;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--choco-light);
}
::-webkit-scrollbar-thumb {
  background-color: var(--choco-medium);
  border-radius: 6px;
}
mark {
  color: var(--choco-medium);
  background: none;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.875rem;
}
h2 {
  font-size: 1.5rem;
}

.logo{
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
header span{
	color: #3F77B9;
}
.container {
  padding-top: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.skip-to-content {
  position: fixed;
  z-index: 10;
  padding: 10px 16px;
  transform: translateY(-45px);
  border-radius: 4px;
  color: var(--choco-dark);
  background-color: var(--choco-medium);
  font-weight: 700;
  transition: 350ms;
}
.skip-to-content:focus {
  transform: translateY(0);
}
/* header */
.header {
  position: fixed;
  z-index: 9;
  width: 100%;
  transition: 350ms;
}
.header--active {
  background-color: white;
}

.header--active .nav__link--active{
  color: var(--choco-medium);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1400px;
}
.header__brand {
  padding: 14px 14px ;
}

.header__logo {
  height: 40px;
}


/* nav */
.nav {
  display: block;
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  margin: 24px;
  background-color: white;
  border-radius: 6px;
  transform: translateY(-100vh);
  transition: 350ms;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.nav--active {
  transform: translateY(0);
  z-index: -1;
}
.nav__list {
  display: block;
  list-style: none;
  padding: 0;
}

.nav__link {
  display: inline-block;
  color: black;
  padding: 12px 32px;
  margin: 6px 0;
  width: 100%;
  text-align: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--active {
  font-weight: 700;
  color: var(--choco-medium);
}

.nav__toggle {
  width: 44px;
  height: 44px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.nav__toggle.nav__toggle--active > span:first-child {
  transform: rotate(-45deg) translatey(6.5px) translateX(-6px) rotate(360deg);
}
.nav__toggle.nav__toggle--active > span:nth-child(2) {
  transform: scale(0);
}
.nav__toggle.nav__toggle--active > span:last-child {
  transform: rotate(45deg) translatey(-6.5px) translateX(-6px) rotate(360deg);
}

.nav__toggle > span {
  display: block;
  background-color: var(--choco-light);
  height: 3px;
  margin: 3px 0;
  transition: 350ms;
}

.register {
  background-color: #3F77B9;
  border-radius: 6px;
  color: white;
}

.register:hover {
  font-weight: bold;
  text-decoration: none;
}
.list {
  padding: 100px 0;
}

/* Post Filter */
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem !important;
}

.filter-item {
  font-size: 0.9rem;
  font-weight: 520;
  cursor: pointer;
}

.active-filter {
  background: var(--choco-medium);
  font-weight: bold;
  color: var(--choco-light);
  padding: 4px 10px;
  border-radius: 4px;
}

/* Posts */
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box{
  background-color: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.post img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category {
  font-size: 0.9rem;
  font-weight: 1000;
  text-transform: uppercase;
  color: black;
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  /* To remain title in 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-date {
  display: flex;
  color:#3F77B9 ;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}

.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  /* To remain title in 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination {
  padding-top: 20px;
}

.pagination ul{
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #3F77B9;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 18px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: #3F77B9;
}


@media screen and (min-width: 950px) {
  .nav__toggle {
    display: none;
  }
  .nav {
    transform: none;
    position: unset;
    margin: 24px;
    background: none;
    border: none;
  }

  .nav__list {
    display: flex;
  }
  .nav__link {
    margin: 0 0 0 26px;
    padding: 12px;
  }
}

@media screen and (max-width: 650px) {
  .about-text {
    margin: 0 auto;
    max-width: 650px;
  }
}
@media screen and (max-width: 800px){
  .box{
  display: grid;
  grid-row-gap: 16px
}
}

@media screen and (min-width: 700px) {
  .hero__title {
    font-size: 6vw;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .list {
    padding: 100px 0;
  }
  .footer {
    padding: 32px 16px;
  }
}
@media screen and (min-width: 900px) {
}

@media screen and (max-width: 900px){
}

@media screen and (max-width: 450px){
}

.footer{
	background-color: #022452;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.row ul {
  list-style: none;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.container-footer{
	max-width: 1170px;
	margin:auto;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

